<?xml version="1.0" encoding="UTF-8"?>
<!-- THIS FILE WAS ADDED TO DISABLE ALL THE LOGS COMING FROM THE FEATURE TEST EXECUTION USING THE GRADLE TASK,
 BUT I DONT KNOW HOW TO ENABLE JUST IN ERROR OR INFO LEVELS -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd/MM/yyyy HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>